/*  Top bar*/
#info_top_bar__phone,
#info_top_bar__email {
    color: #666;
}

#info_top_bar__phone:hover,
#info_top_bar__email:hover {
    color: #1ABC9C;
    transition: all 200ms ease-out 0s;
}

.top-links ul li .login {
    text-transform: none;
}

/*  Header */
#top-search form input {
    font-size: 100% !important;
}

#search-main::placeholder {
    text-transform: none;
}

#primary-menu ul li a div {
    text-transform: none !important;
}

/* Slider */
.revo-slider-caps-text,
.revo-slider-emphasis-text,
.revo-slider-desc-text {
    /*color: #ffffff !important;*/
}

.revo-slider-btn {
    /*border-width: 1px !important;*/
    border-radius: 0 !important;
}

/* Content */
.owl-carousel .owl-stage {
     padding: 0 !important;
}

.custom-title-section {
    padding: 35px !important;
}

.acctitle {
    font-size: 125% !important;
}

.acc_content {
    font-size: 110% !important;
}

#processTabs ul li a {
    background-color: #1ABC9C;
}

#processTabs ul li h4 {
    padding-top: 15px;
}

/*.q-open {*/
    /*color: #1ABC9C !important;*/
/*}*/

/* Footer */
.footer-link-inicio {
    color: rgba(255, 255, 255, 0.38) !important;
}

.footer-link-inicio:hover {
    color: #666d6d !important;
}
.footer-title {
    text-transform: none !important;
}

.footer-contact {
    margin-top: 10px;
}

.footer-contact span {
    color: rgba(255, 255, 255, 0.87) !important;
}