<ul>
    <li><a href="{% url 'inicio' %}"><div>Inicio</div></a></li>
    <li><a href="#"><div>Diseños</div></a></li>
    <li><a href="#"><div>Servicios</div></a></li>
    <li><a href="#"><div>Precios</div></a></li>
    <li><a href="#"><div>Blog</div></a></li>
    <li><a href="#"><div>Podcast</div></a></li>
{#    <li><a href="#"><div>Síguenos</div></a>#}
{#        <ul>#}
{#            <li><a href="#"><div>Facebook</div></a>#}
{#            <li><a href="#"><div>Twitter</div></a>#}
{#            <li><a href="#"><div>Linkedin</div></a>#}
{#            <li><a href="#"><div>Instagram</div></a>#}
{#            <li><a href="#"><div>Pinterest</div></a>#}
{#            <li><a href="#"><div>Telegram</div></a>#}
{#        </ul>#}
{#    </li>#}
    <li><a href="#"><div>Contacto</div></a></li>
    <li><a href="#"><div>Sobre nosotros</div></a></li>
</ul>