<header id="header">

    <div id="header-wrap">
        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            {% include 'partials/header/header-logo.html' %}
            <!-- #logo end -->

            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu">

                {% include 'partials/header/header-menu.html' %}

                <!-- Top Cart
                ============================================= -->
{#    			{% include 'partials/header/header-cart.html' %}#}
                <!-- #top-cart end -->

                <!-- Top Search
                ============================================= -->
                {% include 'partials/header/header-search.html' %}
                <!-- #top-search end -->

            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header><!-- #header end -->