{% load static %}

<div id="top-bar" class="d-none d-md-block">

    <div class="container clearfix">

        <div class="col_half nobottommargin">

            <p class="nobottommargin">
                <a href="mailto:contact@ecommercedesign.com" id="info_top_bar__email" title="Contáctenos">
                    <i class="icon-line-mail"></i> contact@ecommercedesign.com
                </a>
                <span class="middot">|</span>
                <a href="tel:19000000000" id="info_top_bar__phone" title="Llámenos">
                    <i class="icon-phone-volume"></i> (+1) 900-000-0000
                </a>
            </p>

        </div>

        <div class="col_half col_last fright nobottommargin">

            <!-- Top Links
            ============================================= -->
            <div class="top-links">
                <ul>
                    <li><a href="#">USD</a>
                        <ul>
                            <li><a href="#">USD</a></li>
                            <li><a href="#">EUR</a></li>
                            <li><a href="#">MXN</a></li>
                            <li><a href="#">ARS</a></li>
                            <li><a href="#">CLP</a></li>
                        </ul>
                    </li>
                    <li><a href="#" title="Español"><img src="{% static 'img/flags/es.png' %}" alt="Español"></a>
                        <ul>
{#                            <li><a href="#"><img src="{% static 'img/flags/es.png' %}" alt="Español"> Español</a></li>#}
                            <li><a href="#"><img src="{% static 'img/flags/en.png' %}" alt="Inglés"> Inglés</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="login">Acceder</a>
{#                        <div class="top-link-section">#}
{#                            <form id="top-login">#}
{#                                <div class="input-group" id="top-login-username">#}
{#                                    <div class="input-group-prepend">#}
{#                                        <div class="input-group-text"><i class="icon-user"></i></div>#}
{#                                    </div>#}
{#                                    <input type="email" class="form-control" placeholder="Email address" required="">#}
{#                                </div>#}
{#                                <div class="input-group" id="top-login-password">#}
{#                                    <div class="input-group-prepend">#}
{#                                        <div class="input-group-text"><i class="icon-key"></i></div>#}
{#                                    </div>#}
{#                                    <input type="password" class="form-control" placeholder="Password" required="">#}
{#                                </div>#}
{#                                <label class="checkbox">#}
{#                                  <input type="checkbox" value="remember-me"> Remember me#}
{#                                </label>#}
{#                                <button class="btn btn-danger btn-block" type="submit">Sign in</button>#}
{#                            </form>#}
{#                        </div>#}
                    </li>
                </ul>
            </div><!-- .top-links end -->

        </div>

    </div>

</div>